<!-- Footer Component - Converted from PHP -->
<div class="moveTop">
    <button type="button" class="btn-move-top">
        <img src="./assets/img/top_btn.png" alt="최상단으로 이동">
    </button>
</div>
<footer class="footer">
    <div class="inner">
        <div class="foot-left">
            <div class="footer-logo"><img src="./assets/img/footer_logo.png" alt="하이브미디어 로고"></div>
            <span class="copy">Copyright © 2023 HIVEMEDIA. All rights reserved</span>
            <a href="/01_work/hivemedia_homepage/admin/login.html"
                style="display: block; margin-top: 8px; font-size: 12px; color: #999; text-decoration: none;">관리자페이지</a>
        </div>
        <div class="foot-right company-info">
            <ul>
                <li class="tel">
                    <span>Tel.</span>
                    <p>070.7728.6334</p>
                </li>
                <div class="vertical-bar"></div>
                <div class="fsns-icon">
                    <div class="iblog">
                        <a href="https://blog.naver.com/hivemedia_official" target="_blank">
                            <img src="./assets/img/iblog.png">
                        </a>
                    </div>
                    <div class="iinsta">
                        <a href="https://www.instagram.com/hivemedia_official" target="_blank">
                            <img src="./assets/img/iinsta.png">
                        </a>
                    </div>
                    <div class="iyoutube">
                        <a href="https://www.youtube.com/@%ED%95%98%EC%9D%B4%EB%B8%8C%EB%AF%B8%EB%94%94%EC%96%B4"
                            target="_blank">
                            <img src="./assets/img/iyoutube.png">
                        </a>
                    </div>
                </div>

                <li>
                    <span>Fax.</span>
                    <p>070.4850.8223</p>
                </li>
                <li>
                    <span>E-mail.</span>
                    <p>hive_ad@hivemedia.co.kr</p>
                </li>
            </ul>
        </div>
    </div>

    <p class="copy">Copyright © 2023 HIVEMEDIA. All rights reserved</p>
</footer>
<script>
    AOS.init({
        easing: 'ease-out-back',
        duration: 1500
    });
</script>