@charset "utf-8";

/* Google Fonts CDN - Montserrat (영문) + Noto Sans KR (한글) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* ========================================
   하위 호환 별칭 (기존 CSS 참조 유지)
   ======================================== */

/* Noto Sans KR 별칭 */
@font-face {
    font-family: NotoSansKR-Light;
    src: local('Noto Sans KR');
    font-weight: 300;
}

@font-face {
    font-family: NotoSansKR-Regular;
    src: local('Noto Sans KR');
    font-weight: 400;
}

@font-face {
    font-family: NotoSansKR-Medium;
    src: local('Noto Sans KR');
    font-weight: 500;
}

@font-face {
    font-family: NotoSansKR-Bold;
    src: local('Noto Sans KR');
    font-weight: 700;
}

/* Montserrat 별칭 */
@font-face {
    font-family: Montserrat-Light;
    src: local('Montserrat');
    font-weight: 300;
}

@font-face {
    font-family: Montserrat-Regular;
    src: local('Montserrat');
    font-weight: 400;
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: local('Montserrat');
    font-weight: 600;
}

@font-face {
    font-family: Montserrat-Bold;
    src: local('Montserrat');
    font-weight: 700;
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: local('Montserrat');
    font-weight: 800;
}

@font-face {
    font-family: Montserrat-Black;
    src: local('Montserrat');
    font-weight: 900;
}

/* Poppins → Montserrat 대체 별칭 */
@font-face {
    font-family: Poppins-Medium;
    src: local('Montserrat');
    font-weight: 500;
}

@font-face {
    font-family: Poppins-SemiBold;
    src: local('Montserrat');
    font-weight: 600;
}

@font-face {
    font-family: Poppins-Bold;
    src: local('Montserrat');
    font-weight: 700;
}

@font-face {
    font-family: Poppins-Black;
    src: local('Montserrat');
    font-weight: 900;
}

@font-face {
    font-family: Poppins-BlackItalic;
    src: local('Montserrat');
    font-weight: 900;
    font-style: italic;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-weight: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    line-height: 160%;
    background-repeat: no-repeat !important
}

input,
select {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-weight: inherit;
    font-family: NotoSansKR-Regular
}

button,
input[type=password],
input[type=tel],
input[type=text],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none
}

button:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus,
textarea:focus {
    outline: none
}

input,
select {
    padding: 5px
}

input[type=file] {
    padding: 0
}

input::-webkit-input-placeholder {
    font-size: 12px;
    color: #aaa;
    font-family: 'Noto Sans KR', sans-serif
}

input:focus::-webkit-input-placeholder {
    color: transparent !important
}

input:focus::-moz-placeholder {
    color: transparent !important
}

input:focus:-ms-placeholder {
    color: transparent !important
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    font-family: 'Noto Sans KR', 'Montserrat', Malgun Gothic, 맑은 고딕, Apple SD Gothic Neo, sans-serif;
    word-break: keep-all;
    -webkit-text-size-adjust: none
}

body,
html {
    overflow-x: hidden;
    font-size: 62.5%;
    min-width: 320px
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: '"' '"'
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

address {
    font-style: normal
}

textarea {
    width: 100%;
    resize: none
}

button,
img,
input,
select {
    vertical-align: middle
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    font: inherit;
    color: inherit;
    cursor: pointer;
    border-radius: 0
}

.btn,
a,
button,
input,
select,
textarea {
    font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

input,
select,
textarea {
    background-color: #fff !important;
    padding: 5px;
    border: 1px solid #d9d9d9
}

input:focus,
select:focus,
textarea:focus {
    background-color: #fff !important;
    outline: none;
    border-color: #cdcdcd;
    box-shadow: 0 0 10px #cdcdcd
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 30px #fff;
    -webkit-text-fill-color: #000
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

a {
    font-size: inherit;
    color: inherit;
    text-decoration: none
}

img {
    border: 0;
    max-width: 100%
}

em,
strong {
    font-size: inherit;
    line-height: inherit
}

body {
    font-family: 'Noto Sans KR', 'Montserrat', sans-serif
}

a,
body {
    color: #222
}

a {
    display: block
}

.bd,
b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
    font-weight: 500
}

.flex,
.flex-v {
    display: flex
}

.flex-v {
    align-items: center
}

.flex-j,
.flex-jv {
    display: flex;
    justify-content: space-between
}

.flex-jv {
    align-items: center
}

.Fixed {
    position: fixed
}

.Rel {
    position: relative
}

.Abs {
    position: absolute
}

.Block {
    display: block
}

.Ellipsis,
.Inblock {
    display: inline-block
}

.Ellipsis {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: normal;
    vertical-align: middle
}

table td a {
    overflow: hidden;
    height: auto;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

:root {
    --theme-button-img: url(../img/mode_btn_day.png);
    --theme-button-img-b: url(../img/mode_btn_day_blue.png);
    --video-icon01: url(../img/sub/video_icon01.png);
    --video-icon02: url(../img/sub/video_icon02.png);
    --inquiry-bg: url(../img/inQuiry_btn_w.png);
    --inquiry-circle: url(../img/inQuiry_circle_w.png);
    --parallax-bg: #0084ff;
    --parallax-bgw: #0084ff;
    --parallax-bg2: #0f40a4;
    --parallax-bg2w: #0f40a4;
    --parallax-bg3w: #229be1;
    --parallax-bg3: #229be1;
    --parallax-bg4: #eff8fd;
    --parallax-bg5: #542858;
    --parallax-bg5w: #542858;
    --parallax-bg6: #0f966e;
    --parallax-bg6w: #0f966e;
    --parallax-bg7: #141f64;
    --parallax-bg7w: #141f64;
    --section02-bg: #fff;
    --text-color: rgba(0, 0, 0, 0.81);
    --text-color2: #5a5a5a;
    --text-color3: #000;
    --text-color4: #fff;
    --border-color: #0084ff;
    --markting-svg-line: #c9d4eb;
    --video-work-bg-d: #f8f4f8;
    --video-work-bg-l: #fafafa;
    --video-bold-color: #75287c;
    --video-svg-line: #dbd1dc;
    --video-piece-line: #75287c;
    --exhbt-bold-color: #0f966e;
    --exhbt-blue-bold-color: #0f40a4;
    --exhbt-gray-bold-color: #4a4a4a;
    --inquiry-btn-color: #0084ff;
    --strategy01-color: #222e7c;
    --strategy02-color: #331e76;
    --strategy03-color: #252738;

}

[data-theme=dark] {
    --theme-button-img: url(../img/mode_btn_night.png);
    --theme-button-img-b: url(../img/mode_btn_night_blue.png);
    --video-icon01: url(../img/sub/video_icon01_w.png);
    --video-icon02: url(../img/sub/video_icon02_w.png);
    --inquiry-bg: url(../img/inQuiry_btn_w.png);
    --inquiry-circle: url(../img/inQuiry_circle_w.png);
    --parallax-bg: #000;
    --parallax-bgw: #fff;
    --parallax-bg2: #000;
    --parallax-bg2w: #fff;
    --parallax-bg3w: #fff;
    --parallax-bg3: #000;
    --parallax-bg4: #353535;
    --parallax-bg5: #000;
    --parallax-bg5w: #fff;
    --parallax-bg6: #000;
    --parallax-bg6w: #fff;
    --parallax-bg7: #000;
    --parallax-bg7w: #fff;
    /*--section02-bg: #000;*/
    --text-color: #fff;
    --text-color2: #fff;
    --text-color3: #fff;
    --text-color4: #000;
    --border-color: #fff;
    --markting-svg-line: #fff;
    --video-work-bg-d: #0d0d0d;
    --video-work-bg-l: #1a1a1a;
    --video-bold-color: #fff;
    --video-svg-line: #3a3a3a;
    --video-piece-line: #fff;
    --exhbt-bold-color: #fff;
    --exhbt-blue-bold-color: #fff;
    --exhbt-gray-bold-color: #fff;
    --inquiry-btn-color: #fff;
    --strategy01-color: #fff;
    --strategy02-color: #fff;
    --strategy03-color: #fff;
}

@media(prefers-color-scheme:dark) {
    :root {
        --theme-button-img: url(../img/mode_btn_night.png);
        --theme-button-img-b: url(../img/mode_btn_night_blue.png);
        --video-icon01: url(../img/sub/video_icon01_w.png);
        --video-icon02: url(../img/sub/video_icon02_w.png);
        --inquiry-bg: url(../img/inQuiry_btn_w.png);
        --inquiry-circle: url(../img/inQuiry_circle_w.png);
        --parallax-bg: #000;
        --parallax-bgw: #fff;
        --parallax-bg2: #000;
        --parallax-bg2w: #fff;
        --parallax-bg3: #000;
        --parallax-bg3w: #fff;
        --parallax-bg4: #353535;
        --section02-bg: #000;
        --parallax-bg5: #000;
        --parallax-bg5w: #fff;
        --parallax-bg6: #000;
        --parallax-bg6w: #fff;
        --parallax-bg7: #000;
        --parallax-bg7w: #fff;
        --text-color: #fff;
        --text-color2: #fff;
        --text-color3: #fff;
        --text-color4: #000;
        --border-color: #fff;
        --markting-svg-line: #fff;
        --video-work-bg-d: #0d0d0d;
        --video-work-bg-l: #1a1a1a;
        --video-bold-color: #fff;
        --video-svg-line: #3a3a3a;
        --video-piece-line: #fff;
        --exhbt-bold-color: #fff;
        --exhbt-blue-bold-color: #fff;
        --exhbt-gray-bold-color: #fff;
        --inquiry-btn-color: #fff;
        --strategy01-color: #fff;
        --strategy02-color: #fff;
        --strategy03-color: #fff;

    }

    [data-theme=light] {
        --theme-button-img: url(../img/mode_btn_day.png);
        --theme-button-img-b: url(../img/mode_btn_day_blue.png);
        --video-icon01: url(../img/sub/video_icon01.png);
        --video-icon02: url(../img/sub/video_icon02.png);
        --inquiry-bg: url(../img/inQuiry_btn_w.png);
        --inquiry-circle: url(../img/inQuiry_circle_w.png);
        --parallax-bg: #0084ff;
        --parallax-bgw: #0084ff;
        --parallax-bg2: #0f40a4;
        --parallax-bg2w: #0f40a4;
        --parallax-bg3: #229be1;
        --parallax-bg3w: #229be1;
        --parallax-bg4: #eff8fd;
        --parallax-bg5: #542858;
        --parallax-bg5w: #542858;
        --parallax-bg6: #0f966e;
        --parallax-bg6w: #0f966e;
        --parallax-bg7: #141f64;
        --parallax-bg7w: #141f64;
        --section02-bg: #fff;
        --text-color: #000;
        --text-color2: #5a5a5a;
        --text-color3: #000;
        --text-color4: #fff;
        --border-color: #0084ff;
        --markting-svg-line: #c9d4eb;
        --video-work-bg-l: #fafafa;
        --video-work-bg-d: #f8f4f8;
        --video-bold-color: #75287c;
        --video-svg-line: #dbd1dc;
        --video-piece-line: #75287c;
        --exhbt-bold-color: #0f966e;
        --exhbt-blue-bold-color: #0f40a4;
        --exhbt-gray-bold-color: #4a4a4a;
        --inquiry-btn-color: #0084ff;
        --strategy01-color: #222e7c;
        --strategy02-color: #331e76;
        --strategy03-color: #252738;
    }
}